@import '../colors';

.accountWrap {
  position: relative;
}

.account {
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.profilePicture {
  height: 1.75em;
  width: auto;
  margin-right: 0.5em;
}

.name {
  font-size: 1.15em;
  margin-right: 0.5em;
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  border-radius: 7px;
  background: $white;
  border: 1px solid $black-30;
  z-index: 100;
  margin-top: 0.75em;
}

.items {
  padding: 10px 15px;
}

.items,
.accountActions {
  display: flex;
  flex-direction: column;
}

.accountActions:not(:last-child) {
  margin-bottom: 1em;
}

.accountItem {
  color: $black-100;
  padding: 4px 15px;
  border-radius: 4px;
  transition: 0.1s ease-in;
  cursor: pointer;

  &:hover {
    background: $black-20;
  }
}

.signout {
  padding: 4px 15px;
  border-radius: 4px;
  color: $red-100;
  cursor: pointer;
  transition: 0.15s ease-in;

  &:hover {
    background: $red-30;
  }
}

.hidden {
  display: none;
}
