@import '../colors';

.authCode {
  display: flex;
}

.section {
  display: flex;

  &:not(:last-of-type) {
    margin-right: 0.5em;
  }
}

.number {
  font-family: 'Source Code Pro' !important;
  font-size: 1.75em !important;
  width: 1ch !important;
  height: 1.75ch !important;
  box-sizing: content-box !important;
  margin-right: 0.3em;
  margin-bottom: 1em;
}
