@import '../colors';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
  background: $white;
  border-bottom: $black-20 solid 2px;
  position: sticky;
  top: 0; 
  height: 4em;
}

.navbar .navigation {
  display: flex;
  align-items: center;
}

.navbar .logo {
  height:35px;
  width: auto;
  margin-right: 2em;
}

.navItems {
  display: flex;
}

.coursesDropdown {
  font-size: 1.15em;
  margin-right: 1em;
}

.navItem {
  font-size: 1.15em;
  margin-right: 1em;
  cursor: pointer;
  transition: 0.25s ease-in;

  &:hover {
    font-weight: 500;
    color: $black-90;
  }
}

.active {
  color: $black-100;
  font-weight: 500;
}

.inactive {
  color: $black-60;
}
