@import '../colors';

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.selector {
	margin-top: 20px;
	width: 1420px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dateSelect {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 400px;
}

.calendarCard {
	width: 1420px;
	margin-top: 20px;
	justify-content: center;
	display: flex;
	background-color: $white;
	padding: 20px;
	border-radius: 9px;
	box-shadow: 6px 6px 42px 2px rgba($black-100, 0.15);
}

.column {
	display: flex;
	position: relative;
	flex-direction: column;
	background: $gray;
	padding: 20px 7px;
	margin: 0px 5px;
	border-radius: 4px;
	width: 244px;
	height: 710px;
}

.one {
	position: absolute;
	top: 75px;
}

.two {
	position: absolute;
	top: 203px;
	height: 118px; 
}

.three {
	position: absolute;
	top: 331px;
	
}

.four {
	position: absolute;
	top: 459px;
}

.five {
	position: absolute;
	top: 587px;
	
}

.day {
	text-align: center;
	margin-bottom: 20px;
	font-size: x-large;
	display: flex;
	justify-content: center;
}

.currentDay {
	text-align: center;
	background: $red-100;
	padding: 0px 7.5px;
	border-radius: 7px;
	color: $white;
}


.timeCol {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
	padding: 20px 7px 20px 7px;
	margin: 0px 5px 0px 5px;
	border-radius: 4px;
	width: 100px;
}

.timeCol .one {
	height: 118px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.timeCol .two {
	height: 118px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.timeCol .three {
	height: 118px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.timeCol .four {
	height: 118px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.timeCol .five {
	height: 118px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.selectText {
	font-weight: 700;
	font-size: 1.5em;
	margin: 0em 0.75em;
}