$lagoon: #83f1d5;
$lagoon-dark-10: #76d9c0;
$lagoon-dark-20: #69c1aa;
$lagoon-dark-30: #5ca995;
$lagoon-dark-40: #4f9180;
$lagoon-dark-50: #42796b;

$red-10: #ffeeee;
$red-20: #fedcdd;
$red-30: #fecbcb;
$red-40: #feb9ba;
$red-50: #fea8a9;
$red-60: #fd9698;
$red-70: #fd8587;
$red-80: #fd7375;
$red-90: #fc6264;
$red-100: #fc5053;

$magenta-10: #ffecf2;
$magenta-20: #fedae5;
$magenta-30: #fec7d8;
$magenta-40: #feb4cb;
$magenta-50: #fea2bf;
$magenta-60: #fd8fb2;
$magenta-70: #fd7ca5;
$magenta-80: #fd6998;
$magenta-90: #fc578b;
$magenta-100: #fc447e;

$purple-10: #fbecfd;
$purple-20: #f6d9fb;
$purple-30: #f2c6fa;
$purple-40: #edb3f8;
$purple-50: #e9a0f6;
$purple-60: #e58cf4;
$purple-70: #e079f2;
$purple-80: #dc66f1;
$purple-90: #d753ef;
$purple-100: #d340ed;

$green-10: #ecfaf0;
$green-20: #d8f6e1;
$green-30: #c5f1d2;
$green-40: #b1edc3;
$green-50: #9ee8b4;
$green-60: #8ae3a5;
$green-70: #77df96;
$green-80: #63da87;
$green-90: #50d678;
$green-100: #3cd169;

$blue-10: #e7efff;
$blue-20: #cfdfff;
$blue-30: #b7d0ff;
$blue-40: #9fc0ff;
$blue-50: #87b0ff;
$blue-60: #6ea0fe;
$blue-70: #5690fe;
$blue-80: #3e81fe;
$blue-90: #2671fe;
$blue-100: #0e61fe;

$cyan-10: #e6f7ff;
$cyan-20: #cceeff;
$cyan-30: #b3e6ff;
$cyan-40: #99ddff;
$cyan-50: #80d5ff;
$cyan-60: #66ccff;
$cyan-70: #4dc4ff;
$cyan-80: #33bbff;
$cyan-90: #1ab3ff;
$cyan-100: #00aaff;

$orange-10: #fef5e6;
$orange-20: #fcebcc;
$orange-30: #fbe1b3;
$orange-40: #fad79a;
$orange-50: #f9cd81;
$orange-60: #f7c267;
$orange-70: #f6b84e;
$orange-80: #f5ae35;
$orange-90: #f3a41b;
$orange-100: #f29a02;

$pumpkin-10: #ffefe6;
$pumpkin-20: #ffe0cc;
$pumpkin-30: #ffd0b3;
$pumpkin-40: #ffc099;
$pumpkin-50: #ffb180;
$pumpkin-60: #ffa166;
$pumpkin-70: #ff914d;
$pumpkin-80: #ff8133;
$pumpkin-90: #ff721a;
$pumpkin-100: #ff6200;

$white: #ffffff;
$gray: #f3f3f3;
$black-10: #f8f9fe;
$black-20: #dfe0e5;
$black-30: #c6c7cb;
$black-40: #aeaeb2;
$black-50: #959598;
$black-60: #7c7d7f;
$black-70: #636466;
$black-80: #4a4b4c;
$black-90: #323233;
$black-100: #191919;
