@import 'colors';
@import 'reset';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

::selection {
  background: $lagoon;
  color: $black-100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.25px;
}

button {
  border: none;
}

body {
  background: $black-10;
  font-family: 'Prompt', sans-serif;
}

label {
  font-weight: 500;
}

.Toastify__toast-body {
  text-align: center;
  font-weight: bold;
}

.Toastify__toast--success {
  background-color: $lagoon !important;
  color: darken($lagoon, 50%);
}

.input {
  font-family: 'Prompt';
  background: $white;
  font-size: 15px;
  padding: 7px 14px;
  border: 1px solid $black-20;
  border-radius: 5px;
  transition: 0.15s ease-in;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    border-color: $lagoon-dark-10;
  }

  &:focus {
    border-color: $lagoon-dark-10;
    box-shadow: 0px 0px 10px rgba($lagoon-dark-10, 0.3);
    outline: none;
    color: $black-100;
  }
}

.button {
  padding: 5px 35px;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Prompt';
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &:focus {
    outline: none;
  }
}

.primary {
  background: $lagoon;
  color: darken($lagoon, 50%);
}

.secondary {
  background: $black-20;
  color: $black-70;
}

.danger {
  background: $red-30;
  color: darken($red-100, 30%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
