@import 'colors';
@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

::selection {
  background: $lagoon;
  color: $black-100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.25px;
}

button {
  border: none;
}

body {
  background: $black-10;
  font-family: 'Prompt', sans-serif;
}

label {
  font-weight: 500;
}
