@import '../_colors.scss';

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalBody {
  background: white;
  height: 500px;
  width: 500px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}



.icon {
  margin-right: 10px;
}

.description {
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.fileInput {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  padding: 0px 20px;
  text-align: center;
  align-items: center;
  border: 2px dashed $blue-40;
  background: $blue-10;
  cursor: pointer;
}
.postInput {
  width: 300px;
  height: 70px;
  padding: 10px;
  font: inherit;
  resize: none;
  border: none;
  background: $black-10;
  border: 1px solid $black-20;
  border-radius: 10px;
}

.buttonDiv {
  width: 50%;
}

