@import '../colors';


.navbar {
  background-color: white;
  margin: 20px 0px 20px 0px;
  width: 84vw;
  border-radius: 4px;
  height: 65px;
  display: flex;
  align-items: center;
}

.courseInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
  font-weight: 500;
  margin-left: 20px;
}

.infoText {
  margin: 0 5px;
}

.linkDiv  {
  align-items: center;
  display: flex;
}

.linkDiv a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  margin-left: 20px;
}


.select {
  display: flex;
  flex-flow: row;
  min-width: 0;
  padding: 5px;
  border-radius: 5px;
  width: max-content;
}

.selectItem {
  position: relative;
  padding: 4px 2em;
  border-radius: 5px;
  flex: 1;
  min-width: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.activeSelectItem {
  color: $black-100;
  position: relative;
  padding: 4px 2em;
  border-radius: 5px;
  flex: 1;
  min-width: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.selectText {
  position: relative;
  z-index: 2;
}

.active {
  width: 80%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  z-index: 1;
  border-bottom: solid $black-100 3px;
}



.red {
  background: $red-30;
  color: $red-100;
  box-shadow: 4px 1px 25px 3px rgba(($red-100), 0.2);
}

.magenta {
  background: $magenta-30;
  color: $magenta-100;
  box-shadow: 4px 1px 25px 3px rgba(($magenta-100), 0.2);
}

.purple {
  background: $purple-30;
  color: $purple-100;
  box-shadow: 4px 1px 25px 3px rgba(($purple-100), 0.2);
}

.green {
  background: $green-30;
  color: $green-100;
  box-shadow: 4px 1px 25px 3px rgba(($green-100), 0.2);
}

.blue {
  background: $blue-30;
  color: $blue-100;
  box-shadow: 4px 1px 25px 3px rgba(($blue-100), 0.2);
}

.cyan {
  background: $cyan-30;
  color: $cyan-100;
  box-shadow: 4px 1px 25px 3px rgba(($cyan-100), 0.2);
}

.orange {
  background: $orange-30;
  color: $orange-100;
  box-shadow: 4px 1px 25px 3px rgba(($orange-100), 0.2);
}

.pumpkin {
  background: $pumpkin-30;
  color: $pumpkin-100;
  box-shadow: 4px 1px 25px 3px rgba(($pumpkin-100), 0.2);
}