@import '../_colors.scss';

.resourcePage {
  width: 100%;
}

.resources {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.resource {
  width: 150px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.resource p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
}

.resourceNav {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px ;
  width: 84vw;
  display: flex;
  justify-content: space-between;
}

.pathDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

.pathItem {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0px 2px;
  margin: 0px 2px;
  & img {
    margin-right: 5px;
  };
}


.buttonDiv {
  display: flex;
  width: 610px;
  justify-content: space-between;
}

.button {
  width: 190px;
}

.file {
  width: 100%;
  height: 100vh;
}
